body{
	background-color:282828;
}

#banner{
	border:solid;
	border-color: white;
	margin-top:10px; 
	margin-left:275px;
	width:800px;
	height:250px;
}

#pic1{
	border:solid;
	border-color: white;
	width:250px;
	height:300px;
}

.pic2{
	border:solid;
	border-color: white;
	width:250px;
	height:300px;
}

#Banaag{
	border: solid;
	border-color: black;
	float:left;
	margin-top:20px;
	margin-left:275px;
	background-color:#181818 ;
	width:380px;
	font-family:courier new;
	color:CC0033;
	text-align:center;
}

#Bathan{
	border: solid;
	border-color: black;
	float:right;
	margin-top:20px;
	margin-right:260px;
	background-color:#181818;
	width:380px;
	font-family:courier new;
	color:CC0033;
	text-align:center;
}

#footer{
	border: solid;
	border-color: white;
	margin-top:30px;
	margin-left:275px;
	width:798px;
	height:250px;
}